body{
    padding: 0;
    margin: 0 auto;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    background-color: #fefefe;
}

a{
    text-decoration: none;
}

h2, h3, p, h1, ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.container{
    width: 1720px;
    margin: 0px auto;
}
.header {
    padding: 41px 0px;
    border-bottom: 2px solid #779611;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 120px;
}
.header-list {
    display: flex;
    gap: 80px;
}
.header-link {
    color: #707070;
    font-weight: 500;
    text-transform: capitalize;
}
.header-wrap{
    gap: 80px;
}
.hero {
    border-bottom: 2px solid #779611;
}
.hero-container {
    display: flex;
    align-items: center;

}
.hero-wrap{
    padding-right: 443px;
}
.hero-title {
    font-family: "Exo 2" sans-serif;
    color: #779661;
    font-size: 48px;
    margin-bottom: 50px;
    font-weight: 600;
    max-width: 65%;
}

.hero-text {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 50px;
}

.hero-link {
    background-color: #779611;
    color: #f9f9f9;
    font-size: 32px;
    padding: 18px 70px;
    border-radius: 40px;
}

.flaves{
    padding: 100px 0px;
}
.flaves-text-description{
    padding-bottom: 50px;
}
.flaves-text{
    padding-top: 35px;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 24px;
    color: #779611;
    padding-left: 60px;
}
.flaves-title {
    font-weight: 600;
    font-size: 36px;
    color: #779611;
    font-family: 'Exo 2', sans-serif;
    padding: 35px 0px;
}
.flaves-list{
    display: flex;
    gap: 20px;
}
.flaves-cost{
    padding-left: 60px;
}
.sub{
    padding: 0px 100px;
    padding-bottom: 80px;
    border-bottom: 2px solid #779611;
}
.sub-list{
    display: flex;
    gap: 20px;
}
.sub-text-description{
    padding-bottom: 50px;
}
.sub-text{
    font-weight: 400;
    font-size: 24px;
    color: #779611;
    padding-top: 35px;
    padding-bottom: 15px;
    padding-left: 60px;
}
.sub-cost{
    padding-left: 60px;
}
.sub-title{
    font-weight: 600;
    font-size: 36px;
    color: #779611;
    font-family: 'Exo 2', sans-serif;
    padding: 35px 0px;
}
.us{
    padding: 114px 0px;
    border-bottom: 2px solid #779611;
}
.us-container{
    display: flex;
}
.us-text{
    font-weight: 500;
    font-size: 24px;
    color: #779611;
    font-family: 'Exo 2', sans-serif;
    padding-bottom: 15px;
}
.us-title{
    font-weight: 600;
    font-size: 48px;
    color: #779611;
    font-family: 'Exo 2', sans-serif;
    padding-bottom: 35px;
}
.us-wrap{
    padding-right: 455px;
    padding-top: 99px;
}
.footer{
    padding-top: 60px;
    padding-bottom: 40px;
}
.footer-wrap{
    display: flex;
    justify-content: center;
    gap: 150px;
}
.footer-link{
    color: #000;
}
.footer-item{
    padding-bottom: 20px
}